*,
*::before,
*::after {outline:none; box-sizing:border-box}

html {min-width:1260px; height:100%}

body {min-width:1260px; height:100%; margin:0; padding:0; font:14px/24px "PT Sans", sans-serif; color:#262626; background:#f5f5f5; -webkit-text-size-adjust:100%}

a {color:#1c73ca}
a:hover {text-decoration:none}

img {border:none; max-width:100%}

::-ms-clear {display:none}

p {margin:24px 0; padding:0}

.btn {display:block; vertical-align:top; border-radius:4px; background:#38b349; background-image:linear-gradient(to bottom, #39b54a, #34aa44), linear-gradient(#38b349, #38b349); margin:0; padding:0; outline:none; overflow:visible; border:none; text-decoration:none; width:100%; height:36px; box-sizing:border-box; color:#fff; text-align:center; font:14px/36px "PT Sans", sans-serif; letter-spacing:0; -webkit-appearance:none; cursor:pointer; transition:all 0.2s}
.btn:hover {opacity:0.8}

form {margin:0; padding:0}

.form-success {background:#f2fbf2; border:1px solid #d2e9dd; padding:12px 20px 14px 20px; margin:27px 0; color:#898989; font-size:14px; line-height:24px; text-align:center}
.form-success-title {color:#009c63; font-weight:bold}

.form-error {background:#fffafa; border:1px solid #f6eded; padding:12px 20px 14px 20px; margin:27px 0; color:#898989; font-size:14px; line-height:24px; text-align:center}
.form-error-title {color:#e82000; font-weight:bold}

.form-label {margin:20px 0 7px 0; color:#7f8fa4; line-height:17px}
.form-label span {color:#f60e0e}
.form-input {margin:7px 0}
.form-input-date {position:relative}
.form-input-date::before {content:""; display:block; width:10px; height:11px; background:url(../images/form-input-calendar.svg) no-repeat; background-size:100%; position:absolute; right:9px; top:50%; margin-top:-5px}
.form-input input,
.form-input textarea {position:relative; border:1px solid #dfe3e9; font:14px/24px "PT Sans", sans-serif; color:#262626; vertical-align:top; margin:0; padding:5px 20px; width:100%; height:36px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; outline:none; border-radius:4px; background:#fff; -webkit-appearance:none; transition:all 0.2s}
.form-input-date input {background:transparent}
.form-input textarea {height:auto; resize:none; overflow:auto}
.form-input input.error,
.form-input textarea.error {border-color:#f60e0e}
.form-input input:focus,
.form-input textarea:focus {border-color:#38b349}
.form-input label.error {display:block; font-size:10px; line-height:12px; color:#f60e0e; margin:2px 0 0 0}

.form-input-project-name {margin-top:15px}
.form-input-project-name input {border:none; border-bottom:1px solid #7f8fa4; font-size:24px; line-height:28px; height:37px; padding:4px 0}
.form-input-project-name input.error {border-color:#f00}
.form-input-project-name input::-webkit-input-placeholder {opacity:1; color:#7f8fa4; font-style:italic}
.form-input-project-name input::-moz-placeholder {opacity:1; color:#7f8fa4; font-style:italic}
.form-input-project-name input:-ms-input-placeholder {opacity:1; color:#7f8fa4; font-style:italic}

.form-checkbox {margin:15px 0 0 0}
.form-checkbox::after {content:""; display:block; clear:both}
.form-checkbox label {float:left; margin:0; padding:0; cursor:pointer; position:relative; padding:0 0 0 25px; font-size:14px; line-height:17px; color:#354052}
.form-checkbox input {display:none}
.form-checkbox-icon {display:block; position:absolute; left:0; top:0; width:16px; height:16px; border-radius:4px; background-image:linear-gradient(to top, #f2f4f8, #feffff); border:1px solid #ced0da; transition:all 0.2s}
.form-checkbox input:checked+.form-checkbox-icon {background-image:linear-gradient(to top, #29b311, #57d841); border:1px solid #27aa11}
.form-checkbox-icon::before {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; background:url(../images/checkbox.svg) no-repeat center; opacity:0}
.form-checkbox input:checked+.form-checkbox-icon::before {opacity:1}

.form-ctrl {margin:30px 0 0 0}
.form-ctrl::after {content:""; display:block; clear:both}

.form-file {float:left; max-width:calc(100% - 202px)}
.form-file-input {float:left; height:36px; line-height:36px; width:147px; height:36px; text-align:center; text-decoration:none; color:#fff; background-image:linear-gradient(to top, #1991eb, #2da1f8), linear-gradient(#2198f0, #2198f0); border-radius:4px; position:relative; overflow:hidden; cursor:pointer; transition:all 0.2s}
.form-file-input:hover {opacity:0.8}
.form-file-input input {height:200px; position:absolute; top:0; right:0; opacity:0; cursor:pointer; font-size:200px; background:url(../images/blank.gif); -webkit-appearance:none}
.form-file-name {margin:0 0 0 170px; padding:6px 0 0 0}

.form-submit {float:right; width:172px}

.form-temp-link {float:right; line-height:36px; margin:0 23px 0 0}
.form-temp-link a {color:#8695a9}

.side {position:fixed; z-index:99; left:0; top:0; bottom:0; width:85px; background:#fff; box-shadow:1px 0 0 0 #dfe2e5; overflow:auto}
.logo {width:40px; height:41px; margin:16px 0 0 24px; background:url(../images/logo.png)}

nav {margin:12px 0 0 0; border-top:1px solid #dfe2e5}
nav ul {margin:0; padding:0; list-style:none}
nav ul li {margin:22px 0 0 0; padding:0}
nav ul li::before {display:none}
nav ul li:first-child {border-bottom:1px solid #e8e8e8; padding:6px 0 27px 0}
nav ul li.active {font-weight:bold}
nav ul li a {display:block; padding:0 10px; text-decoration:none; color:#7f8fa4; font-size:11px; line-height:12px; text-align:center; position:relative}
nav ul li.active a::before {content:""; display:block; position:absolute; left:0; top:0; bottom:0; width:4px; background:#7ac142}
.nav-icon {line-height:0}
.nav-icon g {fill:#7f8fa4}
nav ul li.active .nav-icon g,
nav ul li a:hover .nav-icon g {fill:#7ac142}
.nav-title {margin:8px 0 0 0; min-height:24px}
nav ul li.nav-exit {border-top:1px solid #dfe2e5; padding:10px 0 0 0}
nav ul li.nav-exit a {color:#f00}
nav ul li.nav-exit a:hover {color:#7ac142}

.wrapper {min-width:1260px; width:100%; min-height:100%; position:relative; overflow:hidden}
.wrapper-inner {padding:0 0 128px 85px}

.page-auth .wrapper-inner {padding-left:0}

header {background:#fff; box-shadow:inset 0 -1px 0 0 #dfe2e5}
header::after {content:""; display:block; clear:both}

.header-title {float:left; font-size:20px; line-height:24px; color:#354052; padding:23px 0 0 20px}

.header-ctrl {min-width:343px; float:left; height:70px}
.header-views {float:left; margin:0; list-style:none; padding:25px 0 0 24px; line-height:20px}
.header-views li {float:left; margin:0; padding:0 14px; border-left:1px solid #dfe3e9}
.header-views li::before {display:none}
.header-views li:first-child {border-left:none}
.header-views li a {display:block; height:20px; line-height:20px}
.header-views svg {vertical-align:middle; margin:-3px 0 0 0}
.header-views svg g {fill:#ced0da; transition:all 0.2s}
.header-views li a:hover svg g,
.header-views li.active a svg g {fill:#2ea1f8}

.header-projects-filter {float:left; margin:0 0 0 23px; position:relative; border-left:1px solid #e8e8e8}
.header-projects-filter-link {display:block; line-height:70px; color:#7f8fa4; text-decoration:none; padding:0 30px; font-weight:bold}
.header-projects-filter-link::after {content:""; display:inline-block; vertical-align:middle; width:7px; height:4px; background:url(../images/dropdown.svg); margin:-2px 0 0 13px}

.header-projects-filter-window {position:absolute; left:-9999px; top:-9999px; margin-top:12px; width:778px; background:#fff; box-shadow:0 0 20px 0 rgba(0, 0, 1, 0.15); z-index:99}
.header-projects-filter-window.open {left:-118px; top:100%}
.header-projects-filter-window form {margin:0; padding:0}
.header-projects-filter-block {border-top:1px solid #dfe5ec; padding:14px 36px}
.header-projects-filter-block:first-child {border-top:none}
.header-projects-filter-title {line-height:16px}
.header-projects-filter-title a {display:inline-block; vertical-align:top; position:relative; padding:0 0 0 26px; color:#354052; text-decoration:none; line-height:16px}
.header-projects-filter-title a::before {content:""; display:block; width:16px; height:16px; background:#8695a9; border-radius:3px; position:absolute; left:0; top:0; transition:all 0.2s}
.header-projects-filter-title a::after {content:""; display:block; width:16px; height:16px; background:url(../images/header-projects-filter-title.svg) no-repeat center; position:absolute; left:0; top:0; transition:all 0.2s}
.header-projects-filter-block.open .header-projects-filter-title a::before {background:#269cf4}
.header-projects-filter-block.open .header-projects-filter-title a::after {transform:rotate(45deg)}
.header-projects-filter-content {position:absolute; left:-9999px; top:-9999px; width:100%; opacity:0; transition:opacity 0.2s; padding:10px 0 3px 0}
.header-projects-filter-block.open .header-projects-filter-content {position:relative; left:auto; top:auto; opacity:1}
.header-projects-filter-content .form-input {margin:0; position:relative; width:180px}
.header-projects-filter-content .form-input-date {width:105px}
.header-projects-filter-content .form-input input {height:30px; color:#131820; padding:0 12px; line-height:28px}
.header-projects-filter-content .form-input-date input {color:#354052}
.header-projects-filter-checkboxes::after {content:""; display:block; clear:both}
.header-projects-filter-checkbox {float:left; margin:0 0 0 9px}
.header-projects-filter-checkbox:first-child {margin:0}
.header-projects-filter-checkbox label {display:block; cursor:pointer}
.header-projects-filter-checkbox input {display:none}
.header-projects-filter-checkbox span {display:block; padding:0 9px; height:30px; background:#dfe5ec; border-radius:3px; color:#7f8fa4; font-size:12px; line-height:30px; transition:all 0.2s}
.header-projects-filter-checkbox input:checked+span {background:#7ac141; color:#fff}
.header-projects-filter-variants::after {content:""; display:block; clear:both}
.header-projects-filter-variants .form-input {float:left}
.header-projects-filter-variant {float:left; margin:0 9px 0 0; padding:0 31px 0 9px; position:relative; height:30px; line-height:30px; font-size:12px; background:#dfe5ec; border-radius:3px; color:#7f8fa4}
.header-projects-filter-variant-remove {display:block; position:absolute; right:5px; top:5px; padding:6px; cursor:pointer; transition:all 0.2s; border-radius:2px}
.header-projects-filter-variant-remove:hover {background:#fff}
.header-projects-filter-variant-remove svg {display:block}
.header-projects-filter-variant-remove path {fill:#131820; transition:all 0.2s}
.header-projects-filter-variant-remove:hover path {fill:#7ac142}
.header-projects-filter-variants-onlyone .header-projects-filter-variant+.form-input {display:none}

#projects-container {position:relative}
#projects-container .loading {position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(255, 255, 255, 0.8) url(../images/loading.gif) no-repeat center}

.header-search {float:left; position:relative; border-left:1px solid #e8e8e8; padding:0 0 0 30px}
.header-search form {margin:0; padding:0}
.header-search-submit {float:left; padding:28px 0 0 0}
.header-search-submit input {vertical-align:top; width:15px; height:16px; margin:0; background:url(../images/header-search.svg) no-repeat; padding:0; border-radius:0; border:none; outline:none; -webkit-appearance:none; cursor:pointer}
.header-search-submit input:hover {opacity:0.8}
.header-search-input {float:left; padding:26px 0 0 10px; width:100px; height:70px}
.header-search-input input {border:none; font:16px/19px "PT Sans", sans-serif; color:#1f242e; vertical-align:top; margin:0; padding:0; width:100%; height:19px; box-sizing:border-box; outline:none; border-radius:0; background:#fff; -webkit-appearance:none; transition:all 0.2s}
.header-search-input input::-webkit-input-placeholder {opacity:1; color:rgba(31, 36, 46, 0.5)}
.header-search-input input::-moz-placeholder {opacity:1; color:rgba(31, 36, 46, 0.5)}
.header-search-input input:-ms-input-placeholder {opacity:1; color:rgba(31, 36, 46, 0.5)}

.header-user {float:right; position:relative; border-left:1px solid #e8e8e8}
.header-user-link {display:block; line-height:70px; color:#595959; text-decoration:none; padding:0 30px}
.header-user-link::after {content:""; display:inline-block; vertical-align:middle; width:9px; height:5px; background:url(../images/dropdown-2.svg); margin:-2px 0 0 13px}

.header-btns {float:right; padding:17px 30px 0 0}
.header-btn {float:left; height:36px; line-height:36px; margin:0 0 0 20px; text-decoration:none; color:#fff; background-image:linear-gradient(to top, #1991eb, #2da1f8), linear-gradient(#2198f0, #2198f0); padding:0 20px; border-radius:4px; transition:all 0.2s}
.header-btn:hover {opacity:0.8}
.header-btn:first-child {margin:0}
.header-btn-2 {border:1px solid #dfe3e9; padding:0 40px; color:#354052; line-height:34px; background:none}
.header-btn-2:hover {border-color:#38b349; opacity:1}
.header-btn-add-icon {display:inline-block; vertical-align:middle; width:17px; height:1px; background:#fff; margin:-2px 10px 0 0; position:relative}
.header-btn-add-icon::after {content:""; display:block; width:1px; height:17px; position:absolute; left:8px; top:-8px; background:#fff}

.auth-logo {float:left; height:70px}
.auth-logo .logo {float:left; margin:19px 0 0 20px}
.logo-title {float:left; width:82px; height:22px; margin:27px 0 0 7px; background:url(../images/logo-title.png)}

.container {padding:0 29px 0 22px}

.table-list-title {font-weight:bold; color:#3b3c3c; font-size:18px; line-height:21px; margin:40px 0 21px 0}
.table-list {margin:21px 0}
.table-list table {width:100%; border-collapse:collapse; background:#fff; border:1px solid #dfe2e5}
.table-list th {vertical-align:top; color:#7f8fa4; font-size:14px; line-height:17px; font-weight:bold; text-align:left; padding:15px 30px 14px 0}
.table-list th:first-child {padding-left:30px}
.table-list th.right {text-align:right}
.table-list th a {color:#7f8fa4; text-decoration:none}
.table-list th a:hover {text-decoration:underline}
.table-list th.sort-active a::after {content:""; display:inline-block; vertical-align:middle; margin:0 0 0 7px; width:0; height:0; border-left:4px solid transparent; border-right:4px solid transparent}
.table-list th.sort-down a::after {border-top:5px solid #7f8fa4}
.table-list th.sort-up a::after {border-bottom:5px solid #7f8fa4}
.table-list td {vertical-align:top; line-height:17px; border-top:1px solid #dfe2e5; padding:14px 30px 13px 0; color:#424242}
.table-list td:first-child {padding-left:30px; position:relative}
.table-list td.right {text-align:right}
.projects-list-title a {text-decoration:none}
.projects-list-title a:hover {text-decoration:underline}
.projects-list-place {padding:4px 0 0 0; font-size:12px; line-height:14px; color:#7f8fa4}
.projects-list-status {float:right; clear:right; font-size:12px; line-height:28px; padding:0 6px; border-radius:5px; color:#808183; margin:-5px 0 6px 0}
.project-list-status-consideration .projects-list-status {background:#ffdca1}
.project-list-status-consideration td:first-child::before {content:""; display:block; position:absolute; left:-1px; top:0; bottom:0; width:5px; background:#ffdca1}
.project-list-status-working .projects-list-status {background:#a0e28a}
.project-list-status-working td:first-child::before {content:""; display:block; position:absolute; left:-1px; top:0; bottom:0; width:5px; background:#a0e28a}
.project-list-status-draft .projects-list-status {background:#dedede}
.project-list-status-draft td:first-child::before {content:""; display:block; position:absolute; left:-1px; top:0; bottom:0; width:5px; background:#dedede}
.projects-list-manager {float:right; clear:right; font-size:14px; line-height:17px}
.projects-list-status+.projects-list-manager {font-size:12px; line-height:14px}
.projects-list-manager a {text-decoration:none; color:#1c73ca; border-bottom:1px dashed #1c73ca}
.projects-list-manager a:hover {border-bottom:none}
.projects-list-status+.projects-list-manager a {color:#3564a2; border-bottom:1px dashed #a5abba}
.projects-list-status+.projects-list-manager a:hover {border-bottom:none}
.project-prop .projects-list-manager a {color:#3564a2; border-bottom:1px dashed #a5abba}
.project-prop .projects-list-manager a:hover {border-bottom:none}
.table-list th.projects-list-edit-col {width:48px; padding-left:20px; padding-right:15px}
.table-list td.projects-list-edit-link {width:48px; padding-left:20px; padding-right:15px; vertical-align:middle}
.projects-list-edit-link a {display:block; width:13px; height:9px; border-top:1px solid #1c73ca; border-bottom:1px solid #1c73ca; position:relative}
.projects-list-edit-link a::after {content:""; display:block; position:absolute; left:0; top:3px; right:0; height:1px; background:#1c73ca}

.pager {margin:40px 0 0 0}
.pager::after {content:""; display:block; clear:both}
.pager a,
.pager span {float:left; width:37px; height:36px; border:1px solid #e6eaee; background:#fff; text-align:center; text-decoration:none; line-height:34px; color:rgba(53, 64, 82, 0.5); margin:0 -1px 0 0; transition:all 0.2s}
.pager a:first-child {border-radius:4px 0 0 4px}
.pager a:last-child {border-radius:0 4px 4px 0}
.pager a.active {cursor:default}
.pager a.active,
.pager a:hover {color:#354052}
.pager a svg g,
.pager span svg g {fill:#ced0da; transition:all 0.2s}
.pager a svg {vertical-align:middle; margin:-2px 0 0 0}
.pager a:hover svg g {fill:#354052}

.auth {display:table; width:820px; margin:101px auto 0 auto}
.auth-form {display:table-cell; vertical-align:top; width:340px; height:458px; background:#fff; border-radius:4px 0 0 4px; padding:0 30px 20px 30px; position:relative; box-shadow:0 2px 16px rgba(0, 0, 0, 0.08)}
.auth-form-logo {position:absolute; left:31px; top:-26px; width:45px; height:45px; border-radius:3px; background:#7ac142}
.auth-form-logo::before {content:""; display:block; position:absolute; left:39px; top:39px; width:17px; height:17px; border-radius:3px; background:#7ac142}
.auth-form form {margin:0; padding:0}
.auth-form-title {font-size:24px; line-height:29px; color:#354052; padding:44px 0 0 0}
.auth-form-choice-title {font-size:16px; line-height:20px; color:#354052; padding:8px 0 0 0}
.auth-form-choice-exit {font-size:16px; line-height:20px; color:#354052; padding:8px 0 0 0}
.auth-form-choice-exit a {color:#f00}
.auth-form-choice-support {position:absolute; left:30px; bottom:27px; right:30px; font-size:12px; line-height:16px}
.auth-form-choice-support-email {color:#59637b}
.auth-form-choice-support-email a {color:#04caff; text-decoration:none}
.auth-form-choice-support-email a:hover {text-decoration:underline}
.auth-form-choice-support-phone {color:#435174; padding:3px 0 0 0}
.auth-form-choice-support-phone a {color:#435174; text-decoration:none}
.auth-form-label {line-height:17px; color:#7f8fa4; padding:20px 0 7px 0}
.auth-form-input input {border:1px solid #dfe3e9; font:14px/19px "PT Sans", sans-serif; color:#354052; vertical-align:top; margin:0; padding:6px 13px 9px 13px; width:100%; height:36px; box-sizing:border-box; outline:none; border-radius:4px; background:#fff; -webkit-appearance:none; transition:all 0.2s}
.auth-form-input input.error {border-color:#f00}
.auth-form-input input:focus {border-color:#38b349}
.auth-form-input label.error {display:none !important}
.auth-form-checkbox {margin:20px 0 0 0}
.auth-form-checkbox::after {content:""; display:block; clear:both}
.auth-form-checkbox label {float:left; margin:0; padding:0; cursor:pointer; position:relative; padding:0 0 0 25px; font-size:14px; line-height:17px; color:#818488}
.auth-form-checkbox input {display:none}
.auth-form-checkbox-icon {display:block; position:absolute; left:0; top:0; width:16px; height:16px; border-radius:4px; background-image:linear-gradient(to top, #f2f4f8, #feffff); border:1px solid #ced0da; transition:all 0.2s}
.auth-form-checkbox input:checked+.auth-form-checkbox-icon {background-image:linear-gradient(to top, #29b311, #57d841); border:1px solid #27aa11}
.auth-form-checkbox-icon::before {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; background:url(../images/checkbox.svg) no-repeat center; opacity:0}
.auth-form-checkbox input:checked+.auth-form-checkbox-icon::before {opacity:1}
.auth-form-submit {margin:40px 0 0 0}
.auth-form-submit input {display:block; border-radius:4px; background-image:linear-gradient(to bottom, #39b54a, #34aa44 98%); border:1px solid #249533; margin:0; padding:0; outline:none; width:100%; text-decoration:none; height:36px; box-sizing:border-box; color:#fff; text-align:center; font:14px/34px "PT Sans", sans-serif; -webkit-appearance:none; cursor:pointer; transition:all 0.2s}
.auth-form-submit input:hover {opacity:0.8}
.auth-form-forgot {margin:20px 0 0 0; border-top:1px solid #e6eaee; padding:20px 0 0 0}
.auth-form-forgot a {display:block; border-radius:4px; border:1px solid #dfe3e9; margin:0; padding:0; outline:none; width:100%; text-decoration:none; height:36px; box-sizing:border-box; color:#354052; text-align:center; font:14px/34px "PT Sans", sans-serif; -webkit-appearance:none; cursor:pointer; transition:all 0.2s}
.auth-form-forgot a:hover {border-color:#38b349}
.auth-welcome {display:table-cell; vertical-align:top; width:480px; height:458px; background:url(../images/auth-welcome-bg.jpg) center; background-size:cover; border-radius:0 4px 4px 0; position:relative}
.auth-welcome-text {position:absolute; left:33px; right:35px; bottom:31px; color:#fff}
.auth-welcome-title {font-weight:bold; font-size:24px; line-height:29px}
.auth-welcome-descr {font-size:16px; line-height:20px; opacity:0.9; margin:7px 0 0 0}
.auth-welcome-contacts {font-size:12px; line-height:16px; margin:26px 0 0 0}
.auth-welcome-contacts::after {content:""; display:block; clear:both}
.auth-welcome-contacts-email {float:left}
.auth-welcome-contacts-email a {color:#04caff; text-decoration:none}
.auth-welcome-contacts-email a:hover {text-decoration:underline}
.auth-welcome-contacts-phone {float:right}
.auth-welcome-contacts-phone a {color:#fff; text-decoration:none}
.auth-cabinet {display:table-cell; vertical-align:top; width:480px; min-height:458px; background:#4f5d71; border-radius:0 4px 4px 0; padding:10px 20px; position:relative}
.auth-cabinet-row {display:table; width:100%; border-collapse:collapse; margin:10px 0 0 0}
.auth-cabinet-row-wrap {margin:20px -20px}
.auth-cabinet-row-wrap .auth-cabinet-row {border-collapse:separate; border-spacing:20px 0}
.auth-cabinet-item {display:table-cell; vertical-align:middle; height:74px; color:#fff; background:#3c4c63; border-radius:4px; text-decoration:none; text-align:center; font-weight:bold; font-size:16px; line-height:20px; transition:all 0.2s}
.auth-cabinet-item:hover {background:#495469}
.auth-cabinet-row-wrap .auth-cabinet-item {width:50px; height:auto; padding:14px 13px; vertical-align:top; font-size:18px; line-height:22px; text-align:left}
.auth-cabinet-item-place {font-size:14px; line-height:16px; color:rgba(255, 255, 255, 0.9); font-weight:normal; padding:22px 0 0 0}
.auth-cabinet-item-place strong {font-weight:bold; display:block; color:#fff}
.auth-form-hint {margin:13px 0}

.auth-cabinet-inner {background:none; width:440px; float:none; padding:10px 0 0 0}

footer {height:72px; position:relative; margin:-72px 0 0 85px; padding:16px 0 0 0; background:#e4e7eb; color:#9ea4b1; font-size:12px; line-height:17px}
footer::after {content:""; display:block; clear:both}
footer p {margin:0; padding:0}
footer a {color:#9ea4b1}

.page-auth footer {margin-left:0}

.copyrights {float:left; padding:0 0 0 27px}
.page-auth .copyrights {padding:0 0 0 30px}

.policy {float:right; padding:0 58px 0 0; text-align:right}
.page-auth .policy {padding:0 30px 0 0}

.message-alert {background:#ffd1d1; color:#955151; padding:11px 0 12px 0; line-height:17px}

.profile-title {font-size:24px; line-height:29px; margin:30px 0 0 0; color:#354052}
.profile-subtitle {font-size:18px; line-height:21px; margin:50px 0 0 0; color:#354052; font-weight:bold}
.profile-subtitle-name {font-size:18px; line-height:21px; margin:10px 0 0 0; color:#354052}

.profile-row {margin:25px 0}
.profile-row::after {content:""; display:block; clear:both}
.profile-block {margin:25px 0}
.profile-row .profile-block:nth-child(1) {margin:0; float:left; width:200px; padding:0 20px 0 0}
.profile-row .profile-block:nth-child(2) {margin:0 0 0 200px}
.profile-block-title {font-size:16px; line-height:18px; color:#7f8fa4}
.profile-block-value {line-height:17px; margin:5px 0 0 0}

.text {margin:40px 180px 40px 0}

.feedback-ticket {border-bottom:1px solid #dfe2e5; padding:30px 0}
.feedback-ticket-title {font-weight:bold; line-height:17px; color:#3b3c3c}
.feedback-ticket-title-answer {display:inline-block; vertical-align:top; height:25px; margin:-4px 0 -4px 15px; font-size:12px; line-height:25px; color:#808183; background:#a0e28a; border-radius:14px; text-decoration:none; padding:0 16px; font-weight:normal; transition:all 0.2s}
.feedback-ticket-title-answer:hover {opacity:0.8}
.feedback-ticket-date {line-height:17px; color:#7f8fa4; padding:5px 0 0 0}
.feedback-ticket-text {line-height:20px; padding:7px 0 0 0}

.ticket {margin-right:35%}
.ticket .feedback-ticket {border-bottom:none; border-top:1px solid #dfe2e5}
.ticket-title {font-size:18px; line-height:21px; font-weight:bold; color:#3b3c3c; margin:33px 0 0 0}
.ticket form {margin:0 0 45px 0}

.window-open body {overflow:hidden}

.window {position:fixed; left:0; top:0; right:0; bottom:0; z-index:99997; overflow:auto; background:rgba(19, 24, 32, 0.8)}
.window-loading {position:absolute; left:50%; top:50%; width:24px; height:24px; margin:-12px 0 0 -12px; background:url(../images/loading.gif)}
.window-container {position:absolute; z-index:99999; left:50%; top:50%}
.window-container-load {position:fixed; left:-9999px; top:-9999px}
.window-content {position:relative; background:#fff; border-radius:3px}
.window-close {display:block; position:absolute; width:11px; height:11px; right:14px; top:14px; background:url(../images/window-close.png)}

.feedback-add-window {width:520px; padding:30px 30px 36px 30px}
.window-title {font-weight:bold; font-size:24px; line-height:29px; color:#354052; padding:0 0 5px 0}

.project-window {width:640px; padding:30px}

.project-header::after {content:""; display:block; clear:both}
.project-header-text {float:left; width:70%}
.project-header-text .window-title {padding:0 0 1px 0}
.project-header-type {font-size:12px; line-height:14px; color:#7f8fa4}
.project-header-place {float:left; width:30%; text-align:right; line-height:17px; color:#354052; font-weight:bold; padding:9px 0 0 0}

.project-status {padding:11px 0 0 0}
.project-status::after {content:""; display:block; clear:both}
.project-status-text {float:left; font-size:12px; line-height:36px; color:#70829a; padding:0 0 0 13px; position:relative}
.project-status-text::before {content:""; display:block; width:7px; height:7px; position:absolute; left:0; top:50%; margin-top:-3px; background:#adadad; border-radius:50%}
.project-status-edit {float:right; height:36px; line-height:36px; text-decoration:none; color:#fff; padding:0 25px; border-radius:4px; border:1px solid #dfe3e9; padding:0 40px; color:#354052; line-height:34px; background:none; transition:all 0.2s}
.project-status-edit:hover {border-color:#38b349}

.project-props {border-top:1px solid #dfe5ec; border-bottom:1px solid #dfe5ec; padding:13px 0 15px 0; margin:13px 0 0 0}
.project-props::after {content:""; display:block; clear:both}
.project-prop {float:left; margin:0 0 0 80px}
.project-prop:first-child {margin:0}
.project-prop-title {font-weight:bold; line-height:17px; color:#7f8fa4}
.project-prop-value {padding:6px 0 0 0; line-height:17px; color:#232324}

.project-notice {margin:29px 0 0 0}
.project-notice-title {font-weight:bold; line-height:17px; color:#7f8fa4}
.project-notice-text {line-height:18px; font-style:italic; padding:13px 34px 17px 16px; color:#8c8a8a; background:#f3f3f3; border-radius:3px; margin:15px 0 0 0}

.project-tabs-menu {font-size:16px; line-height:18px; margin:15px 0 0 0}
.project-tabs-menu ul {margin:0; padding:0; list-style:none; border-bottom:1px solid #c0c7d0}
.project-tabs-menu ul::after {content:""; display:block; clear:both}
.project-tabs-menu ul li {float:left; margin:0 0 0 90px; padding:0}
.project-tabs-menu ul li::before {display:none}
.project-tabs-menu ul li:first-child {margin:0}
.project-tabs-menu ul li a {text-decoration:none; color:#7f8fa4; float:left; padding:22px 0; position:relative; transition:all 0.2s}
.project-tabs-menu ul li a:hover {color:#354052}
.project-tabs-menu ul li a::after {content:""; display:block; position:absolute; left:0; bottom:-1px; right:0; height:3px; transition:all 0.2s}
.project-tabs-menu ul li.active a {color:#354052}
.project-tabs-menu ul li.active a::after {background:#2ea2f8}

.project-tab {display:none}
.project-tab.active {display:block}

.project-schedule table {width:100%; border-collapse:collapse; margin:30px 0}
.project-schedule th {color:#7f8fa4; font-size:14px; line-height:17px; font-weight:bold; vertical-align:top; text-align:left; padding:0 0 10px 30px; border-bottom:1px solid #dfe5ec}
.project-schedule th:first-child {padding-left:0}
.project-schedule-place {color:#354052}
.project-schedule-city {font-weight:normal; font-size:12px; line-height:14px; padding:4px 0 0 0}
.project-schedule td {line-height:17px; color:#354052; padding:12px 0 0 30px; vertical-align:top}
.project-schedule td:nth-child(2) {width:140px}
.project-schedule td:nth-child(3) {width:120px}
.project-schedule td:nth-child(4) {width:70px}
.project-schedule td:first-child {padding-left:0}
.project-schedule tbody tr:first-child td {padding-top:19px}

.project-add-programm {padding:18px 0}
.project-add-programm::after {content:""; display:block; clear:both}
.project-add-programm-title {float:left; font-weight:bold; color:#354052; line-height:30px; margin:0 10px 0 0}
.project-add-programm-radio {float:left; margin:0 0 0 9px}
.project-add-programm-radio label {display:block; cursor:pointer}
.project-add-programm-radio input {display:none}
.project-add-programm-radio span {display:block; padding:0 9px; height:30px; background:#dfe5ec; border-radius:3px; color:#7f8fa4; font-size:12px; line-height:30px; transition:all 0.2s}
.project-add-programm-radio input:checked+span {background:#7ac141; color:#fff}

.project-add-block {border-top:3px solid #dfe5ec; padding:17px 0 0 0}
.project-add-block-title {font-weight:bold; font-size:18px; line-height:21px; color:#131820}
.project-add-group {padding:18px 0 30px 0}
.project-add-group+.project-add-group {border-top:1px solid #dfe5ec}
.project-add-group-header {padding:0 0 0 29px; position:relative}
.project-add-group-header-number {position:absolute; left:0; top:0; font-size:16px; color:#131820}
.project-add-group-header-title {font-size:16px; color:#131820}
.project-add-group-header-notice {font-size:12px; color:#8695a9; margin:-6px 0 0 0}
.project-add-group-header-summ {position:absolute; right:0; top:0; color:#8695a9}
.project-add-group-add-link {padding:6px 0 0 20px}
.project-add-group-add-link::after {content:""; display:block; clear:both}
.project-add-group-add-link .header-btn {height:30px; line-height:30px; padding:0 17px 0 7px}
.project-add-group-add-link .header-btn-add-icon {width:13px; margin:-2px 8px 0 0}
.project-add-group-add-link .header-btn-add-icon::after {height:13px; left:6px; top:-6px}

.project-add-summ {border-top:1px solid #dfe5ec; color:#131820; font-weight:bold; font-size:18px; text-transform:uppercase; padding:15px 0 2px 0}
.project-add-summ::after {content:""; display:block; clear:both}
.project-add-summ-title {float:left; padding:0 0 0 29px}
.project-add-summ-value {float:right}

.project-add-group-headers {border-bottom:1px solid #dfe5ec; display:none; width:100%; font-size:10px; line-height:12px; color:#8695a9}
.project-add-group-headers-item {display:table-cell; vertical-align:bottom; padding:9px 0 6px 0}
.project-add-group-headers-item-01 {width:136px; padding-left:33px}
.project-add-group-headers-item-02 {width:225px}
.project-add-group-headers-item-03 {width:43px; text-align:center}
.project-add-group-headers-item-04 {width:79px; text-align:center}
.project-add-group-headers-item-05 {width:79px; text-align:center}
.project-add-group-headers-item-06 {width:258px; padding-left:33px}
.project-add-group-headers-item-07 {width:139px}
.project-add-group-headers-item-08 {width:123px}

.project-add-group-row {position:relative; margin:12px 0 19px 20px; background:#fff}
.project-add-group-row.sortable-ghost::before {content:""; display:block; position:absolute; left:-50px; top:-5px; right:-30px; bottom:-5px; opacity:0.4; background-color:#f4e2c9}
.project-add-group-row::after {content:""; display:block; clear:both}
.project-add-group-row-drag {position:absolute; left:-20px; top:12px; width:11px; height:7px; border-top:1px solid #bfc7d1; border-bottom:1px solid #bfc7d1; cursor:move}
.project-add-group-row-drag::after {content:""; display:block; position:absolute; left:0; top:2px; right:0; height:1px; background:#bfc7d1}
.project-add-group-cell-01 {float:left; width:103px}
.project-add-group-cell-02 {float:left; width:218px; margin:0 0 0 10px}
.project-add-group-cell-03 {float:left; width:42px; margin:0 0 0 10px}
.project-add-group-cell-04 {float:left; width:60px; margin:0 0 0 10px}
.project-add-group-cell-05 {float:left; width:79px; margin:0 0 0 10px}
.project-add-group-cell-06 {float:right; padding:13px 0 0 0}
.project-add-group-cell-07 {float:left; width:212px}
.project-add-group-cell-08 {float:left; width:130px; margin:0 0 0 12px}
.project-add-group-cell-09 {float:left; width:106px; margin:0 0 0 12px}
.project-add-group-cell-10 {float:left; width:57px; margin:0 0 0 12px}
.project-add-group-row .form-input {margin:0}
.project-add-group-row .form-input input {padding-left:10px; padding-right:10px; color:#354052}
.project-add-group-row .project-add-group-cell-03 .form-input input {text-align:center}
.project-add-group-row .project-add-group-cell-04 .form-input input {text-align:center}
.project-add-group-row .project-add-group-cell-05 .form-input input {text-align:center}
.project-add-group-row .project-add-group-cell-10 .form-input input {text-align:center}
.project-add-group-row-remove {display:block}
.project-add-group-row-remove svg {display:block}
.project-add-group-row-remove path {fill:#7f8fa4; transition:all 0.2s}
.project-add-group-row-remove:hover path {fill:#7ac142}
.project-add-group-row-checkbox {float:left; width:100%; padding:9px 0 0 0}
.project-add-group-row-checkbox .form-checkbox {margin:0}
.project-add-group-row-checkbox .form-checkbox label {padding:0 0 0 22px; font-size:12px; line-height:16px; color:#354052}
.project-add-group-row-checkbox .form-checkbox-icon {border-radius:3px; background:none; border:1px solid #dfe5ec}
.project-add-group-row-checkbox .form-checkbox input:checked+.form-checkbox-icon {background:none; border:1px solid #dfe5ec}
.project-add-group-row-checkbox .form-checkbox-icon::before {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; background:url(../images/project-checkbox.svg) no-repeat center; opacity:0}
.project-add-group-row-checkbox .form-checkbox input:checked+.form-checkbox-icon::before {opacity:1}

.project-add-place {padding:5px 0 23px 0; background:#fff; position:relative}
.project-add-place.sortable-ghost::before {content:""; display:block; position:absolute; left:-30px; top:-5px; right:-30px; bottom:-5px; opacity:0.4; background-color:#f4e2c9}
.project-add-place-header {position:relative; padding:0 20px 0 29px}
.project-add-place-header-drag {position:absolute; left:0; top:7px; width:11px; height:7px; border-top:1px solid #bfc7d1; border-bottom:1px solid #bfc7d1; cursor:move}
.project-add-place-header-drag::after {content:""; display:block; position:absolute; left:0; top:2px; right:0; height:1px; background:#bfc7d1}
.project-add-place-header-title .form-input {margin:0}
.project-add-place-header-title .form-input input {padding:0; border:none; font-size:16px; color:#131820; line-height:20px; height:20px}
.project-add-place-header-title .form-input input::-webkit-input-placeholder {opacity:1; color:#7f8fa4; font-style:italic}
.project-add-place-header-title .form-input input::-moz-placeholder {opacity:1; color:#7f8fa4; font-style:italic}
.project-add-place-header-title .form-input input:-ms-input-placeholder {opacity:1; color:#7f8fa4; font-style:italic}
.project-add-place-header-remove {display:block; position:absolute; right:0; top:6px}
.project-add-place-header-remove svg {display:block}
.project-add-place-header-remove path {fill:#131820; transition:all 0.2s}
.project-add-place-header-remove:hover path {fill:#7ac142}

.project-add-place-show-add-link {margin:10px 0 0 20px; display:none}
.project-add-place-show-add-link::after {content:""; display:block; clear:both}
.project-add-place-show-add-link .header-btn {height:30px; line-height:30px; padding:0 10px; background:#dfe5ec; color:#354052; font-size:12px}
.project-add-place-show-add-link .header-btn-add-icon {width:9px; margin:-2px 8px 0 0; background:#354052}
.project-add-place-show-add-link .header-btn-add-icon::after {height:9px; left:4px; top:-4px; background:#354052}

.project-add-place-content {display:none}
.project-add-place-content .project-add-group-row {margin:9px 0 9px 20px}

.project-add-group-add-template {display:none}
.project-add-place-show-add-template {display:none}

.project-add-load {position:relative}
.project-add-load.disabled {display:none}
.project-add-load.loading::after {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(255, 255, 255, 0.8) url(../images/loading.gif) no-repeat center; z-index:99}

.form-dropdown {margin:7px 0; position:relative}
.form-dropdown-value {position:relative; border:1px solid #dfe3e9; font:14px/24px "PT Sans", sans-serif; color:#262626; vertical-align:top; margin:0; padding:5px 20px; width:100%; height:36px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; outline:none; border-radius:4px; background:#fff; -webkit-appearance:none; transition:all 0.2s}
.form-dropdown-value::after {content:""; display:block; width:10px; height:5px; background:url(../images/form-dropdown.svg) no-repeat; background-size:100%; position:absolute; right:10px; top:16px}
.form-dropdown.open .form-dropdown-value::after {transform:rotate(-180deg)}
.form-dropdown-list {display:none;position:absolute; z-index:99; top:100%; left:0; margin-top:-1px; cursor:default; border:1px solid #dfe5ec; background:#fff; overflow:auto; box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.1); font-size:14px; line-height:28px; width:491px; max-height:250px}
.project-add-group-cell-08 .form-dropdown-list {width:341px}
.form-dropdown.open .form-dropdown-list {display:block}
.form-dropdown-list ul {margin:0; padding:0; list-style:none}
.form-dropdown-list ul li {margin:0; padding:0}
.form-dropdown-list ul li::before {display:none}
.form-dropdown-list ul li span {display:block; padding:0 24px; white-space:nowrap; overflow:hidden; position:relative; color:#8695a9; height:28px; text-overflow:ellipsis; cursor:pointer}
.form-dropdown-list ul li span:hover {background:#dfe5ec; color:#131820}
.form-dropdown-list ul li a {display:inline-block; position:relative; color:#269cf4; text-decoration:none; margin:0 24px}
.form-dropdown-list ul li a::before {content:"+"; font-size:12px; position:absolute; left:-12px; top:0}

.project-add-group-row .form-dropdown {margin:0}
.project-add-group-row .form-dropdown-value {padding-left:10px; padding-right:10px; color:#354052}

.form-input-show-descr {margin:17px 0}
.form-input-show-descr textarea {height:136px}
.form-label-show-time {font-size:16px; color:#131820; margin:27px 0 0 0}
.form-show-time {margin:7px 0}
.form-show-time::after {content:""; display:block; clear:both}
.form-show-time-input {float:left; width:163px}
.form-show-time-input .form-input {margin:0}
.form-show-time-antrakt-link {float:left; margin:4px 0 0 15px}
.form-show-time-antrakt-link a {color:#269cf4; text-decoration:none; border-bottom:1px dashed #269cf4}
.form-show-time-antrakt-link a:hover {border-bottom:none}
.form-show-time-antrakt {display:none; float:left; position:relative; padding:0 16px 0 0}
.form-show-time-antrakt .form-input {float:left; width:163px; margin:0 0 0 15px}
.form-show-time-antrakt-remove {display:block; position:absolute; width:9px; height:9px; right:0; top:50%; margin-top:-4px; background:url(../images/window-close.png) no-repeat; background-size:100%}
.show-authors {border-bottom:1px solid #dfe5ec; padding:0 0 36px 0}
.show-authors-template {display:none}
.show-authors-links::after {content:""; display:block; clear:both}
.show-authors-link {float:left; margin:0 15px 0 0; line-height:20px}
.show-authors-link a {color:#269cf4; text-decoration:none; border-bottom:1px dashed #269cf4}
.show-authors-link a:hover {border-bottom:none}
.show-author .form-label-show-time {margin:15px 0 0 0}
.show-author .form-input {padding:0 16px 0 0; position:relative}
.show-author-remove {display:block; position:absolute; width:9px; height:9px; right:0; top:50%; margin-top:-4px; background:url(../images/window-close.png) no-repeat; background-size:100%}
.show-group-title {font-weight:bold; font-size:18px; color:#131820; padding:15px 0 0 0}
.show-group-title span {color:#f60e0e}
.form-label-show-video {font-size:16px; color:#131820; margin:10px 0 0 0}
.form-label-show-video span {color:#f60e0e}
.form-show-video-add-link {line-height:20px; padding:0 0 29px 0; border-bottom:1px solid #dfe5ec}
.form-show-video-add-link a {color:#269cf4; text-decoration:none; border-bottom:1px dashed #269cf4}
.form-show-video-add-link a:hover {border-bottom:none}
.form-show-video-add {padding:0 16px 0 0; position:relative}
.show-video-remove {display:block; position:absolute; width:9px; height:9px; right:0; top:50%; margin-top:-4px; background:url(../images/window-close.png) no-repeat; background-size:100%}
.form-show-video-add-template {display:none}

.show-photos {border-bottom:1px solid #dfe5ec; position:relative; padding:44px 0 32px 0; margin:11px 0 0 0}
.show-photo-input {display:none; position:absolute; left:0; top:0; height:30px; line-height:30px; cursor:pointer; color:#fff; background-image:linear-gradient(to top, #1991eb, #2da1f8), linear-gradient(#2198f0, #2198f0); padding:0 20px; border-radius:4px; transition:all 0.2s; overflow:hidden}
.show-photo:last-child .show-photo-input {display:block}
.show-photo-input:hover {opacity:0.8}
.show-photo-input-icon {display:inline-block; vertical-align:middle; width:17px; height:1px; background:#fff; margin:-2px 10px 0 0; position:relative}
.show-photo-input-icon::after {content:""; display:block; width:1px; height:17px; position:absolute; left:8px; top:-8px; background:#fff}
.show-photo-input input {height:200px; position:absolute; top:0; right:0; opacity:0; cursor:pointer; font-size:200px; background:url(../images/blank.gif); -webkit-appearance:none}
.show-photo-input label.error {display:none !important}
.show-photo-name {width:310px; color:#354052; position:relative; padding:0 22px 0 0}
.show-photo-name::after {content:""; display:block; clear:both}
.show-photo-name-text {float:left; max-width:200px; overflow:hidden; position:relative; white-space:nowrap; text-overflow:ellipsis}
.show-photo-name-text:empty+.show-photo-name-remove {display:none}
.show-photo-name-remove {position:absolute; width:9px; height:9px; right:0; top:50%; margin-top:-4px; background:url(../images/window-close.png) no-repeat; background-size:100%; cursor:pointer}
.show-photo-size {float:right}